<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajay Anuragi </title>
    <link th:href="@{style/style.css}" rel="stylesheet"/>
</head>
<body>
    <nav>
        <div class="nav-brand">
            <span>Ajay Anuragi</span>
        </div>
        <div class="nav-link">
            <ul class="nav-links">
                <li><a href="">Home</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About</a></li>
            </ul>

        </div>
    </nav>
    <main>
        <h1>
            Blog
        </h1>
    </main>

</body>
</html>